.contact-modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow);
  overflow: scroll;
}

.close {
  position: absolute;
  right: 2vw;
  top: 2vh;
  padding: 0.5rem;
  font-size: 2em;
  color: var(--pr-white);
  cursor: pointer;
  z-index: 10;
}

.about-container {
  padding: 1rem;
  max-height: 50%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--pr-black);
  overflow: hidden;
}

.form-container {
  padding: 1rem;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--pr-white);
}

.logo-container {
  width: 100%;
  text-align: center;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Calibri, sans-serif;
  font-size: 6em;
  line-height: 1;
  transition: 0.2s cubic-bezier(0, 1.06, 1, -0.02);
  z-index: 0;
  cursor: default;
}

.yon {
  color: var(--yellow);
  transition: var(--transition);
}

.dav {
  color: var(--blue);
  transition: var(--transition);
}

@media only screen and (min-width: 767px) {
  .contact-modal {
    width: 95vw;
    height: 95vh;
  }

  .close {
    top: 4vh;
    right: 4vw;
  }

  .icon-group {
    width: 95%;
  }
}

@media only screen and (min-width: 989px) {
  .contact-modal {
    width: 90vw;
    height: 90vh;
    flex-direction: row-reverse;
  }

  .close {
    top: 6vh;
    right: 6vw;
  }

  .about-container,
  .form-container {
    width: 50%;
    max-height: 100%;
  }

  .icon-group {
    width: 80%;
  }
}
