nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  z-index: 10;
  transition: var(--transition);
}

.inner-nav {
  flex-basis: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  position: relative;
  color: var(--primary-light);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--orange);
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--orange);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link:focus::before,
.nav-link:active::before {
  visibility: visible;
  transform: scaleX(1);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--pure-white);
  z-index: 1;
}

@media only screen and (min-width: 600px) {
  .inner-nav {
    flex-basis: 50%;
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 900px) {
  .inner-nav {
    flex-basis: 30%;
    font-size: 1.4em;
  }
}
