.tool-bar {
  width: fit-content;
  position: relative;
  bottom: 8rem;
  display: flex;
  flex-direction: column;
  background-color: var(--pr-white);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.controls {
  height: fit-content;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  color: var(--pr-white);
  background-color: var(--pr-black);
  cursor: move;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.min {
  cursor: pointer;
}

.control-panel {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.btn {
  margin: 0 0.25rem;
  padding: 1rem;
  font-family: var(--ff-primary);
  background-color: var(--pr-grey);
  border-radius: var(--radius);
  border: none;
  transition: var(--transition);
  cursor: pointer;
}

.customize-btn {
  position: absolute;
  bottom: 27rem;
  right: 1.5rem;
  background-color: var(--green);
  color: var(--pr-white) !important;
  transition: var(--transition);
  animation: customize 2s infinite;
}

.color-selector {
  position: absolute;
  bottom: 10rem;
  left: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--pr-white);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  z-index: 2;
}

.control-btn:hover,
.control-btn:focus,
.control-btn:active {
  color: #f4f4f4;
  box-shadow: var(--shadow-in);
}

.original-btn:hover,
.original-btn:focus,
.original-btn:active {
  background-color: var(--brown);
}

.yoni-btn:hover,
.yoni-btn:focus,
.yoni-btn:active {
  background-color: var(--red);
}

.move-btn:hover,
.move-btn:focus,
.move-btn:active {
  background-color: var(--orange);
}

.eraser-btn:hover,
.eraser-btn:focus,
.eraser-btn:active {
  background-color: var(--alt-blue);
}

.fill-btn:hover,
.fill-btn:focus,
.fill-btn:active {
  background-color: var(--green);
}

.bg-btn:hover,
.bg-btn:focus,
.bg-btn:active {
  background-color: var(--purple);
}

.color-selector-pop {
  background: transparent !important;
}

.color-selector-pop > div > div > div > input,
.color-selector-pop > div > div > div > label {
  color: var(--pr-black) !important;
}

.bg-selector {
  margin-top: 1rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.bg-opt {
  margin-bottom: 0.25rem;
  width: 85%;
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.bg-opt:hover,
.bg-opt:focus,
.bg-opt:active {
  box-shadow: var(--shadow-in);
}

.bg-thumb-cont {
  flex-basis: 50%;
  text-align: left;
}

.bg-thumbnail {
  width: 2rem;
  border-radius: var(--radius);
}

@keyframes customize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 300px) {
  .customize-btn {
    bottom: 33rem;
    right: 1rem;
  }
}

@media only screen and (min-width: 350px) {
  .customize-btn {
    bottom: 32rem;
  }
}

@media only screen and (min-width: 369px) {
  .customize-btn {
    bottom: 35rem;
  }

  .tool-bar {
    bottom: 5rem;
  }
}

@media only screen and (min-width: 767px) {
  .customize-btn {
    bottom: 35rem;
    right: 1.5rem;
  }

  .tool-bar {
    position: absolute;
    bottom: 48rem;
    right: 0.5rem;
  }

  .color-selector {
    bottom: 32rem;
    left: 0.5rem;
  }
}

@media only screen and (min-width: 989px) {
  .customize-btn {
    position: absolute;
    bottom: 25rem;
    right: auto;
    left: 1.5rem;
  }

  .tool-bar {
    bottom: 25rem;
    right: auto;
    left: 0.5rem;
  }

  .color-selector {
    bottom: 16rem;
    left: auto;
    right: 0.5rem;
  }
}
