.headshot {
  width: 100%;
}

.headshot img {
  width: 100%;
  border-radius: var(--radius);
  box-shadow: var(--shadow-alt);
}

.bio-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bio p,
.bullets p {
  margin: 0 0 0.5rem 0;
  text-align: justify;
}

.tech-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.btn-cont {
  width: 100%;
  margin: 1rem 0;
}

.contact-btn {
  width: 100%;
  font-size: 1.2em;
}

.contact-btn:hover,
.contact-btn:focus,
.contact-btn:focus-visible,
.contact-btn:active {
  background-color: var(--orange);
  color: #f4f4f4;
}

.contact-btn:active {
  box-shadow: var(--shadow-in);
}

.about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--pr-black);
  overflow: hidden;
}

.logo-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Calibri, sans-serif;
  font-size: 6em;
  line-height: 1;
  transition: 0.2s cubic-bezier(0, 1.06, 1, -0.02);
  z-index: 0;
  cursor: default;
}

.yon {
  color: var(--yellow);
  transition: var(--transition);
}

.dav {
  color: var(--blue);
  transition: var(--transition);
}

.contact-close {
  color: var(--pr-white);
}

@media only screen and (min-width: 767px) {
  .tech {
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  .contact-close {
    color: var(--pr-black);
  }
}

@media only screen and (min-width: 989px) {
  btn-cont {
    margin: 0;
  }
}
