footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: var(--pr-white);
  transition: var(--transition);
}

.copy {
  flex-basis: 45%;
}

.footer-socials {
  margin: auto 1rem;
  flex-basis: 15%;
  display: flex;
  justify-content: flex-end;
}

footer .icon {
  margin: 0 0.25rem;
}

@media only screen and (min-width: 757px) {
  .copy {
    flex-basis: 66%;
  }

  .footer-socials {
    flex-basis: 33%;
  }

  footer .icon {
    margin: 0 0.5rem;
  }
}

@media only screen and (min-width: 990px) {
  footer {
    flex-direction: row;
    justify-content: flex-end;
  }

  .copy,
  .footer-socials {
    flex-basis: 33%;
  }
}
