.bg {
  width: 100%;
}

.color-bg,
.background {
  width: 100vw;
  height: 90vh;
}

.ces-container {
  position: absolute;
  bottom: 10%;
  top: 0;
  right: 0;
  width: 160%;
  height: fit-content;
  margin: auto;
}

.cespedes {
  height: 100%;
  width: 100%;
}

.big-snow-wrap {
  width: 200%;
  position: absolute;
  left: -18rem;
}

@media only screen and (max-width: 300px) {
  .big-snow-wrap {
    left: -13rem;
  }
}

@media only screen and (min-width: 400px) {
  .big-snow-wrap {
    left: -26rem;
  }
}

@media only screen and (min-width: 649px) {
  .ces-container {
    width: 157%;
  }

  .big-snow-wrap {
    left: -34rem;
  }
}

@media only screen and (min-width: 799px) {
  .ces-container {
    width: 140%;
  }
}

@media only screen and (min-width: 929px) {
  .ces-container {
    width: 130%;
  }

  .big-snow-wrap {
    width: 120%;
    position: inherit;
  }
}

@media only screen and (min-width: 1119px) {
  .ces-container {
    width: 105%;
  }
}
