.media-wrap {
  width: 100%;
}

.media-wrap img {
  width: 100%;
  border-radius: var(--radius);
}

.text-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag-wrap {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 1.2em;
}

.tag-2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 2.5em;
}

.ces-desc,
.adopt-links {
  text-align: justify;
  align-self: center;
}

.adopt-links ul {
  padding-inline-start: 0;
  font-size: 1.2em;
  list-style: none;
}

.adopt-links ul li a {
  margin-left: 1.5rem;
}

.albums {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.album-wrap {
  width: fit-content;
  margin: 1rem 0;
}

.album {
  width: 100%;
  border-radius: var(--radius);
}

.album-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.album-info {
  display: flex;
  flex-direction: column;
}

.album-name {
  display: flex;
  justify-content: flex-start;
}

.album-name > * {
  width: fit-content;
  margin-right: 0.5rem;
}

.streams {
  font-size: 1.4em;
  transition: var(--transition);
}

.streams:hover,
.streams:focus,
.streams:focus-visible,
.streams:active {
  transform: scale(1.1);
}

@media only screen and (min-width: 600px) {
  .tag,
  .tag-2,
  .ces-desc {
    width: 75%;
  }

  .tag {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 920px) {
  .tag,
  .tag-2,
  .ces-desc {
    width: 65%;
  }
}

@media only screen and (min-width: 989px) {
  .tag,
  .tag-2,
  .ces-desc {
    width: 80%;
  }

  .albums {
    flex-direction: row;
  }

  .streams {
    font-size: 1.5em;
  }
}
