header {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--pure-white);
  transition: var(--transition);
}

.icons {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2em;
  z-index: 10;
}

.icon > * {
  transition: var(--transition);
  cursor: pointer;
}

.icon > *:hover {
  transform: scale(1.1);
}

.social-link,
.social-link:visited {
  color: currentColor;
}

.github:hover,
.github:focus,
.github:active {
  color: var(--orange);
}

.instagram:hover,
.instagram:focus,
.instagram:active {
  color: var(--pink);
}

.linkedin:hover,
.linkedin:focus,
.linkedin:active {
  color: var(--blue);
}

.canvas {
  /* position: relative; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
  height: fit-content;
}

.background-container {
  width: 100%;
  height: 100%;
}

.yoni-container {
  position: absolute;
  bottom: 0;
  /* margin-top: 0.5rem; */
  width: fit-content;
}

.yoni {
  height: 50vh;
}

.bounce {
  transition: var(--transition);
  animation: bounce 1s infinite;
}

.bucket {
  cursor: url('../../Assets/cursors/bucket.svg'), auto;
}

.eraser {
  cursor: url('../../Assets/cursors/eraser.svg'), auto;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15%);
  }
}

@media only screen and (min-width: 757px) {
  /* .yoni-container {
    top: 10rem;
  } */

  .yoni {
    height: 73vh;
  }
}

@media only screen and (min-width: 989px) {
  .yoni {
    height: 88vh;
  }
}
