header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--pure-white);
  transition: var(--transition);
  overflow: hidden;
}

.icons {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2em;
  z-index: 10;
}

.icon > * {
  transition: var(--transition);
  cursor: pointer;
}

.icon > *:hover {
  transform: scale(1.1);
}

.social-link,
.social-link:visited {
  color: currentColor;
}

.github:hover,
.github:focus,
.github:active {
  color: var(--orange);
}

.instagram:hover,
.instagram:focus,
.instagram:active {
  color: var(--pink);
}

.linkedin:hover,
.linkedin:focus,
.linkedin:active {
  color: var(--blue);
}

@media only screen and (max-width: 411px) and (min-height: 811px) {
  header {
    height: 85vh;
  }
}
