.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

form {
  padding: 2rem;
  height: 100%;
  flex-basis: 100%;
  flex-grow: 2;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition);
}

input,
textarea {
  width: 90%;
  padding: 1rem;
  background-color: transparent;
  font: var(--font);
  border: none;
  border-bottom: 1px solid var(--pr-black);
  transition: var(--ease);
}

input[name='user_name']:focus,
input[name='user_email']:focus,
textarea:focus {
  background-color: var(--btn);
  outline: none;
  border-radius: var(--radius);
}

textarea {
  height: 5rem;
}

.submit {
  /* width: 3.5rem; */
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--ease);
  cursor: pointer;
}

.submit-btn {
  padding: 0.5rem;
  width: 5rem;
  color: var(--pr-black);
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--pr-black);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
  color: var(--pr-white) !important;
  background-color: var(--pr-black);
  box-shadow: var(--shadow);
}

.submit-btn:active {
  box-shadow: var(--shadow-in);
}

div[role='alert'] {
  font-size: 0.8em;
  color: #cc5555;
}

.status-message {
  width: 100%;
  margin: 0;
  padding: 0.3rem;
  text-align: center;
  border-radius: var(--radius);
  transition: var(--ease);
  opacity: 0;
}

.success {
  width: 90%;
  opacity: 1;
  background-color: #6ca591;
  color: var(--pr-white);
}

.failure {
  width: 90%;
  opacity: 1;
  background-color: #cc5555;
  color: var(--pr-white);
}
